.loginLogo{
    text-align: center;
}

.textfield{
    text-align: center;
}

.forgot{
    text-align: center;
}

.tooltip{
    text-align: center;
}

.tooltiptext{
  visibility: hidden;
  width: 20%;
  background-color: rgb(211, 211, 211);
  color: black;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext{
    visibility: visible;
}